/*global classes*/
.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

a {
    color: #212121;
}

#open-mobile-menu,
#close-mobile-menu {
    display:none;
    width: 32px;
    height: 32px;
    z-index: 10;
    background: #1976d2;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
}

#open-mobile-menu i,
#close-mobile-menu i {
    width: 32px;
    text-align: center;
    line-height: 32px;
}

#open-mobile-menu.visible,
#close-mobile-menu.visible {
    display: block;
}

/*App*/
.App {
    position: absolute;
    font-family: 'Roboto Regular';
    font-size: 16px;
    width: 100%;
    min-height: 100%;
    background-color: #fff;
    color: #212121;
}

/*Project list*/
.ProjectList-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.35s ease-in-out;
    width: 280px;
    color: #fff;
    background: #1976d2;
}

.ProjectList-content-wrapper {
    position: relative;
    height: 100%;
    overflow:hidden;
}

.ProjectList-wrapper.visible {
    transform: translate(0);
    height: auto;
    overflow:visible;
}

.ProjectList-wrapper a {
    color: #bbdefb;
    text-decoration: none;
}

.ProjectList-wrapper a.active {
    color: #fff;
}

.ProjectList-divider,
.ProjectDetails-divider  {
    border: 0;
    height: 1px;
    background: #b3d8f8;
    margin: 16px 0;
}

.ProjectList-title,
.ProjectDetails-title {
    font-family: 'Roboto Thin';
    font-size: 36px;
    padding-top: 32px;
    padding-left: 32px;
}

.ProjectDetails-waiting-selection {
    font-family: 'Roboto Thin';
    font-size: 36px;
    padding: 70px 32px;
    text-align: center;
}

.ProjectList-list {
    padding-bottom: 120px;
    padding-left: 32px;
}

.ProjectList-list li {
    height: 48px;
    cursor: pointer;
}

.ProjectList-list li .active {
    color: #fff;
}

/* ProjectDetails */
.ProjectDetails-title {
    padding-top: 32px;
    padding-left: 32px;
}

.ProjectDetails-description {
    padding: 0 32px;
    line-height: 20px;
}

.ProjectDetails-stats {
    margin-top: 32px;
    padding: 0 32px;
}

.ProjectDetails-stats li {
    display: inline-block;
    width: 20%;
}

.ProjectDetails-divider {
    background: #bdbdbd;
}

.ProjectDetails-description {
    font-size: 12px;
    color: #757575;
}

.ProjectDetails-commit-list {
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    margin-top: 32px;
}

.ProjectDetails-commit-list li {
    padding: 8px 32px;
    font-size: 12px;
}

.ProjectDetails-commit-list li span {
    display: block;
}

.ProjectDetails-commit-hash {
    margin-top: 8px;
    color: #757575;
}

.ProjectDetails-commit-list li:nth-child(odd) {
    background: #fafafa;
}
.ProjectDetails-commit-list li:nth-child(even) {
    background: transparent;
}

.ProjectDetails-load-more {
    padding: 16px 32px;
    font-size: 12px;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    #open-mobile-menu,
    #close-mobile-menu { display: none !important; }

    /*App*/
    .App {
        display: table;
        background-image: -moz-linear-gradient(left,#1976d2,#1976d2 50%,#fff 50%,#fff 100%);
        background-image: -webkit-gradient(linear,left top,right top,color-stop(0, #1976d2),color-stop(50%, #1976d2),color-stop(50%, #fff),color-stop(100%, #fff));
    }

    /*Project list*/
    .ProjectList-wrapper {
        position: static;
        transform: translateX(0);
        display: table-cell;
        vertical-align: top;
        width: 50%;
        background: transparent;
        text-align: right;
        height: auto;
        overflow:visible;
    }

    .ProjectList-wrapper .ProjectList-content-wrapper {
        padding-top: 120px;
        width: 384px;
        float: right;
    }

    .ProjectList-title {
        padding-top: 0;
        padding-right: 32px;
    }

    .ProjectList-list {
        padding-right: 32px;
        padding-bottom: 120px;
    }

    /*ProjectDetails*/
    .ProjectDetails-wrapper {
        display: table-cell;
        vertical-align: top;
        width: 50%;
    }

    .ProjectDetails-content-wrapper {
        padding-top: 120px;
        width: 384px;
    }

    .ProjectDetails-title {
        padding-top: 0;
    }

}
